body {
    font-family: Helvetica, sans-serif;
}

#lint-container {
    overflow-x: auto;
}

#lint {
    color: red;
}

#xml-container {
    max-height: 30em;
    overflow-y: auto;
}

#xml {
    color: green;
}
